
#territory .cactus {
    background-color: red;
}

#territory .cactus-seed {
    background-color: #FF6432;
}

#territory .antiaris-seed {
    background-color: #648032;
}

#territory .antiaris {
    background-color: green;
}
